/*---------------------------------------------- Neoworker --------------------------------------------------- */

.neoworker-div {
  padding: 200px;
  width: 80%;
  height: 100%;
  float: right;
  padding-left: 100px;
}

.neoworker-h2 {
  text-align: left;
  font-size: 56px;
  font-weight: bold;
  margin: 0px 3%;
  color: #000099
}

.neoworker-card-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.neoworkerCard {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: black;
  text-align: center;
  font-size: 24px;
  margin: 10px;
  justify-content: space-between;
  border-radius: .25rem;
  width: 476px;
  height: 200px;
  left: 364px;
  top: 222px;
}

.neoworkerCard-content {
  flex-grow: 1;
  padding: 0 24px;
  width: 80%;
}

.neoworkerCard-p {
  font-size: 20px;
}

.neoworkerCard {
  align-items: center;
  background: white;
  padding: 8px 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: black;
  text-align: center;
  font-size: 24px;
  margin: 10px;
  justify-content: space-between;
  border-radius: .25rem;
  width: 476px;
  height: 200px;
  left: 364px;
  top: 222px;
}

.neoworkerCard-h1 {
  font-size: 30px;
  font-weight: bold;
}


.neoworkerCard-btn-container {
  display: flex;
  flex-direction: column;
}

.neoworkerCard-btn {
  color: white;
  font-size: 20px;
  background: #ED6A09;
  border-radius: 40%;
  height: 40px;
  width: 100px;
  border: none;
  margin-bottom: 10px;
}

/*----------------------------------------- Mission ----------------------------------------------------------*/

h2.missions-h2 {
  text-align: left;
  font-size: 56px;
  font-weight: bold;
  margin: 0px 3%;
}

div.missions {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

div.missions-cards {
  padding: 10px;
  color: black;
  text-align: center;
  font-size: 24px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  border: #c4c4c4 2px solid;
  border-radius: .25rem;
}

Button.button-card, Button.button-car:hover {
  color: white;
  font-size: 16px!important;
  background: #ED6A09;
  border-radius: .25rem;
  width: auto!important;
  margin: 0px!important;
}

div.firstrow-card {
  display: flex;
  justify-content: space-between;
}

div.secondrow-card, div.thirdrow-card, div.fourthrow-card {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

div.thirdrow-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}

p.dateofmission {
  color: #000099;
  font-size: 16px;
}

p.titleofmission {
  font-weight: bold;
}

p.name-card {
  display: flex;
  align-self: start;
  padding-top: 16px;
  font-weight: bold;
}

/* ------------------------ Commun ----------------- */

input[type="date"]:before {
  content: attr(placeholder) !important;
  color:#000099;
  margin-right: 0.5em;
  opacity: 0.7;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}