div.freelancer-competences {
    color: #000099;
    width: 80%;
    height: 100vh;
    float: right;
}

div.profil-card {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
    align-items: flex-end;
}

p.name-card {
    margin: 0px;
}

img.pic-card {
    height: 50px;
    border-radius: 50%;
}

img.pic-profil{
    width: 15%;
    border-radius: 50%;
}
.competences-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.competences {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
}

.competences-title {
    color: #ED6A09;
    font-size: 40px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    border: 2px solid #c4c4c4;
    border-radius: .25rem;
}

.champs-profil {
    min-width: 40%;
    border: 2px solid;
    text-align: center;
   }

.competences-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 25%;
    min-width: 25%;
}

Button.btn, Button.btn:hover {
    background: #ED6A09;
    margin-bottom: 40px;
}