div.freelancer-competences {
    color: #000099;
    width: 80%;
    height: 100%;
    float: right;
}

div.profil-card {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
    align-items: flex-end;
}

p.name-card {
    margin: 0px;
}

img.pic-card {
    height: 50px;
    border-radius: 50%;
}

img.pic-profil{
    width: 15%;
    border-radius: 50%;
}

.competences-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.competences {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
}

.competences-title { 
    color: #ED6A09;
    font-size: 40px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    border: 2px solid #c4c4c4;
    border-radius: .25rem;
    margin-top: 100px;
    height: auto;
}

.champs-profil {
    min-width: 40%;
    border: 2px solid;
    text-align: center;
}

.competences-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 25%;
    min-width: 25%;
}

Button.bottom-btn, Button.bottom-btn:hover {
    background: #ED6A09;
    position: relative;
    left:50%;
    font-size: x-large;  
    transform: translate(-50%, -50%)  
}

.slick-next:before, .slick-prev:before{
    color:#ED6A09;
    font-size: 50px;

}

.slick-next, .slick-prev {
    width: 120px;

}

.slick-prev, .slick-prev:before {
    z-index: 5;
}

.cards {
    width: 100%;
    border: 2px solid #c4c4c4;
    border-radius: .25rem;
    box-shadow: 0px 4px 4px rgba(85, 71, 71, 0.25) !important;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border : red solid 1px;
    
}

.cards-competences-title {
    overflow-x: scroll;
}

.input-CI{
    width: 18vw;
}

