.main-div {
    width: 80%;
    height: 100vh;
    float: right;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.profil-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px;
}

.name-card {
    margin: 0px;
    padding-right: 15px;
}

.pic-card {
    height: 50px;
    border-radius: 50%;
}

.formulaire-creation-neoworker {
    display:flex;
    flex-direction: column;
    height: 100%;

}

::placeholder {
    color: #ED6A09;
    opacity: 0.5;
}

.input-metier {
    align-self: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 4px 4px rgba(85, 71, 71, 0.25);
    color: rgba(5, 57, 152, 0.5);
    font-size: 24px;
    font-weight: bold;
}

.first-div-creation-neoworker {
    display:flex;
    flex-direction: column;
    width: 80%;
    align-self: center;

}

.align-photoprofilwithinput-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profil-img-creation {
    border-radius: 50%;
    width: 30%;
}

.align-field-text-div {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.input-firstname, 
.input-lastname, 
.input-email, 
.input-tel,
.input-tj_min,
.input-tj_max,
.input-dispo,
.input-pref_lieu_travail
{
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 4px 4px rgba(85, 71, 71, 0.25);
    color: rgba(5, 57, 152, 0.5);
    font-size: 24px;
    font-weight: bold;

}

.second-div-creation-neoworker, 
.third-div-creation-neoworker {

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align:center;
    align-self:center;
    width: 80%
}

.input-tj_min,
.input-tj_max,
.input-dispo,
.input-pref_lieu_travail
{
    width: 47%;
}


