.main-div {
    width: 80%;
    height: auto;
    float: right;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.profil-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px;
}

.name-card {
    margin: 0px;
    padding-right: 15px;
}

.pic-card {
    height: 50px;
    border-radius: 50%;
}

.formulaire-creation-neoworker {
    display:flex;
    flex-direction: column;
    height: auto;

}

::placeholder {
    color: #ED6A09 !important;
    opacity: 0.5 !important;
}

.input-metier {
    align-self: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 4px 4px rgba(85, 71, 71, 0.25);
    color: #000099;
    font-size: 24px;
    font-weight: bold;
}

.first-div-creation-neoworker {
    display:flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    align-self: center;

}

.align-photoprofilwithinput-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profil-img-creation {
    border-radius: 50%;
    width: 30%;
}

.align-field-text-div {
    display:flex;
    flex-direction: column;
    width: 50%;
}

.input-firstname, 
.input-lastname, 
.input-email, 
.input-tel,
.input-password
{
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 4px 4px rgba(85, 71, 71, 0.25);
    color: #000099;
    font-size: 24px;
    font-weight: bold;

}

.second-div-creation-neoworker, 
.third-div-creation-neoworker {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align:center;
    align-self:center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-tj_min,
.div-tj_max,
.div-dispo,
.div-pref_lieu_travail,
.div-mobilite
{
    width: 47%;
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom:10px;
    text-align: center;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 4px 4px rgba(85, 71, 71, 0.25);
    color: #000099;
    font-size: 24px;
    font-weight: bold;
}

.input-tj_min,
.input-tj_max,
.input-dispo,
.input-pref_lieu_travail,
.input-mobilite
{
    text-align: center;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 4px 4px rgba(85, 71, 71, 0.25);
    color: #000099;
    font-size: 24px;
    font-weight: bold;
}


.input-group-text {
    color: #ED6A09 !important;
    font-weight: bold !important;
    opacity: 0.5 !important;
    align-self: center !important;
    width: 100% !important;
}

.separator-line {
    height: 30px;
    border-style: solid;
    border-color:  #000099;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.separator-line:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #000099;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.title-softskills {

    color: #ED6A09 !important;
    align-self: center !important;
    width: 100% !important;
    font-size: 40px;
    justify-content: center;
    display:flex;
    font-weight: bold;
    margin-bottom: 40px;
}

.div-rating {
    align-self: center;
    width: 80%;
}

.mission-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 25%;
    min-width: 25%;
    color: #000099;

}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mission-title {
    color: #ED6A09;
    font-size: 40px;
    display: flex;
    justify-content: center;
    border: 2px solid #c4c4c4;
    border-radius: .25rem;
}
.champ-libre {
    color: #000099;
}