.form-control{
    color:#000099!important;
}

.selector{
    color: #000099;
}

div.admin-mission, div.admin-neoworker {
    color: #000099;
    width: 80%;
    height: 100%;
    float: right;
    font-weight: 600;
}

h1.admin-h1{
    text-align: center;
    font-size: 56px;
    font-weight: bold;
}

div.body {
    width: 80%;
    margin: auto;
}

div.champs-mission {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

Label.label {
    color: #ED6A09;
    font-size: 40px;
    display: flex;
    justify-content: center;;
}

Button.btn, Button.btn:hover {
    background: #ED6A09;
    margin-bottom: 40px;
}

::placeholder {
    color: #ED6A09!important;
    font-weight: 600;
}

h2.mission-title {
    color: #ED6A09;
    font-size: 40px;
    display: flex;
    justify-content: center;
    border: 2px solid #c4c4c4;
    border-radius: .25rem;
}

div.profil-card {
    display: flex;
    flex-direction: row;
}

div.mission-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 30%;
}

.champ-libre {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.selector-mission {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.formi{
    color: #000099;
}

div.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid #c4c4c4;
    border-radius: .25rem;
    box-shadow: 0px 4px 4px rgba(85, 71, 71, 0.25) !important;
    margin-bottom: 20px;
}


.date-mission{
    color: #ED6A09!important;
}

select#pref_lieu_de_travail.form-control,
select#mobilite.form-control,
select#km_max.form-control {
    width: 250px;
}


input, textarea {
    font-weight: 600!important;
}

p.made{
    color: #000099;
font-weight: bold;
}

.family-prestation-title {
    color: #ED6A09;
    display: flex;
    justify-content: center;
    border: 2px solid #c4c4c4;
    border-radius: .25rem;
    box-shadow: 0px 4px 4px rgba(85, 71, 71, 0.25) !important;
    font-size: 20px;
}

.checkbox-and-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox {
    margin: 0px 20px;
    transform: scale(2);
}

.famille-prestation-select {
    margin-bottom: 50px;
}

.label-prestation {
    margin: 0;
}

.btn {
    margin-top: 50px;
}

.family-prestation-title {
    margin: 10px 0px;
    font-weight: bold;
}