.form-control{
    color:#000099!important;
}
.selector{
    color: #000099;
}
div.admin-mission {
    color: #000099;
    width: 80%;
    height: 100%;
    float: right;
}

h1.admin-h1{
    text-align: center;
    font-size: 56px;
    font-weight: bold;
}

div.notes {
    width: 80%;
    margin: auto;
}

div.champs-mission {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

Label.label {
    color: #ED6A09;
    font-size: 40px;
    display: flex;
    justify-content: center;;
}

Button.btn, Button.btn:hover {
    background: #ED6A09;
    margin-bottom: 40px;
}

::placeholder {
    color: #ED6A09!important;
  }

h2.mission-title {
    color: #ED6A09;
    font-size: 40px;
    display: flex;
    justify-content: center;
    border: 2px solid #c4c4c4;
    border-radius: .25rem;
}

div.profil-card {
    display: flex;
    flex-direction: row;
}

div.mission-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 25%;
    min-width: 25%;
}

.champ-libre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

div.selector-mission {
    display: flex;
    justify-content: space-between;
}

.formi{
    color: #000099;
}

div.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.date-mission{
    color: #ED6A09!important;
}