.neoworkerCard {
    display: flex;
    align-items: center;
    background: white;
    padding: 8px 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 10px;
    color: black;
    text-align: center;
    font-size: 24px;
    margin: 10px;
    justify-content: space-between;
    border-radius: .25rem;
    width: 476px;
    height: 200px;
    left: 364px;
    top: 222px;
}

 .neoworkerCard-content {
    flex-grow: 1;
    padding: 0 24px;
    width: 80%;
  }

.neoworkerCard-h1{
  font-size: 30px;
  font-weight: bold;
}

.neoworkerCard-p{
  font-size: 20px;
}

  .neoworkerCard-btn-container {
      display: flex;
      flex-direction: column;
  }
.neoworkerCard-btn {
    color: white;
    font-size: 20px;
    background: #ED6A09;
    border-radius: 40%;
    height: 40px;
    width: 100px;
    border: none;
    margin-bottom: 10px;
}
