.div-neoworkerList {
  display: flex ;
  flex-wrap: wrap;
  flex-direction: row;
}

.neoworkerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    background: white;
    padding: 8px 16px;
    border: 1px solid rgb(235,235,235);
    box-shadow: aliceblue;
    width: 50%;
  }

 .neoworkerCard-content {
    flex-grow: 1;
    padding: 0 24px;
    width: 80%
  }

  .neoworkerCard-btn-container {
      display: flex;
      flex-direction: column;
  }
.neoworkerCard-btn {
    color: white;
    font-size: 15px!important;
    background: #ED6A09;
    border-radius: .25rem;
    width: auto!important;
    margin: 0px!important;
}
